* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  -webkit-text-size-adjust: 100%;
}

html {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  font-family: "Orbitron", sans-serif;
  line-height: 1.15;
  background-color: #ffffff;

  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
}

/* About. */

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 100vh;
  padding: 18px 48px;
}

/* .about_group {
  max-width: 100%;
} */

.about_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  padding-bottom: 18px;
}

.about_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.about_title {
  color: #000;
  font-size: 28px;
  line-height: 42px;
}

.about_descr {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 200;
  line-height: 34px;
}

.select-css{
  display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 0.9;
    padding: .4em 1.4em .3em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #000;
    box-shadow: 0 1px 0 1px #fff;
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #000;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #000000 0%, #000000 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  
  .select-css::-ms-expand {
    display: none;
  }
  
  .select-css:hover {
    border-color: #fff;
  }
  
  .select-css:focus {
    border-color: #fff;
    box-shadow: 0 0 1px 3px rgba(1, 16, 32, 0.7);
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    color: #fff;
    outline: none;
  }
  
  .select-css option {
    font-weight: normal;
  }
  
  *[dir="rtl"] .select-css,
  :root:lang(ar) .select-css,
  :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .5em .8em .4em 1.4em;
  }

.about_image {
  width: 100%;
}

.footer{
 
  padding: 10px 0px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  font-family: "Orbitron", sans-serif;
  line-height: 1.15;
  background-color: #ffffff;
  
  -webkit-font-smoothing: subpixel-antialiased;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.footer_text {
    display:flex;
    justify-content: flex-end;
    
    -webkit-font-smoothing: subpixel-antialiased;       
}

.footer_img{
  
    display: inline-block;
    width: 64px;
    height: 64px;
  
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  
    background-image: url("images/icons/Virgule_emotion_noir_RVB_72dpi_transparent.png");
    background-size: contain;
    background-color: #ffffff;
    border-radius: 50%;
  
    cursor: pointer;

}

/* About. */

@media only screen and (max-width: 1020px) {
  /* About. */

  .about_group {
    max-width: 100%;
  }

  .about_info {
    order: 1;

    width: 100%;
  }

  .about_image {
    width: 100%;
  }

  /* About. */
  
}

@media only screen and (max-width: 538px) {
  /* About. */

  .about_info {
    padding: 24px 28px;
  }

  .about_title {
    font-size: 24px;
    line-height: 34px;
  }

  .about_descr {
    font-size: 14px;
    line-height: 28px;
  }

  .about_footer{
    width: 200px;
  }
  /* .about_button .button {
    width: 100%;
  } */

  /* About. */

  .footer {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
  }
}
